/* Resetare CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Poziționarea */
.profile-card {
  width: 30rem;
  max-width: calc(80vw - 0.625rem);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}
.profile-image {
  margin-top: -3.75rem;
}
/* Linkurile de contact */
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.head, .about {
  margin-bottom: 5%;
  padding: 0.625rem;
}
.content {
  padding: 5% 10%;
}
body {
  margin: 0;
  padding: 0;
  background: url('assets/rocky-mountain-background-11.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  font-size: 90%;
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 0.25rem;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
img {
  padding: 0.0625rem;
  background-color: #666;
}
.head, .content {
  border-top: 0.0625rem solid hsla(0, 0%, 30%, .8);
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}

.name-headline {
  font-family: Lora, serif;
}

.about {
  font-size: 110%;
  letter-spacing: 0.0625rem;
  word-spacing: 0.3125rem;
  text-align: justify;
  font-family: Merriweather, sans-serif;
}

.fa {
  color: grey;
}